/*****************************/
/*          fonts            */
/*****************************/

@font-face {
      font-family: "Lato";
      src: url("../font/Lato-Bold.ttf");
      font-weight: 700;
}

@font-face {
      font-family: "Lato";
      src: url("../font/Lato-Black.ttf");
      font-weight: 900;
}

@font-face {
      font-family: "LemonMilk";
      src: url("../font/LemonMilkbold.otf");
      font-weight: 700;
}
