/*****************************/
/*          fonts            */
/*****************************/

@font-face {
      font-family: "Lato";
      src: url("../font/Lato-Bold.ttf");
      font-weight: 700;
}
