/*****************************/
/*          default          */
/*****************************/

* { box-sizing: border-box; font-family: 'OpenSans', sans-serif; font-weight: 400; margin: 0; padding: 0; }

.wrapper { width: 1600px; margin: 0 auto; padding: 0px; position: relative;
    @media only screen and (max-width: 1600px) {
        width: 100%;
    }
    &--static { position: static; }
}

.wrapper--small { @extend .wrapper; width: 1245px; 
    @media only screen and (max-width: 1245px) {
        width: 100%;
    }
}

.clearfix:after { content: ''; display: block; clear: both; }

a { text-decoration: none; color: black; }
li { list-style: none; }