/*****************************/
/*         Variables         */
/*****************************/

//colors
$color-primary: rgb(148, 46, 58);
$color-secondary: #171717;
$color-white: white;
$color-alpha-white: rgba(255,255,255,0.43);
$color-dark: #242424;
$color-alpha-black: rgba(0, 1, 1, 0.47);
$color-black: black;

//z-index
$over-static: 10;
$over-visible: 100;
$over-basic: 1000;
$over-all: 10000;

//responsive

$bp-phone: 360px;
$bp-tablet: 768px;
$bp-notebook: 992px;
$bp-desktop: 1200px;

//transitions
$transition-default: ease-in-out 2s;

//grid
$gap: 15px;