/*****************************/
/*          banner           */
/*****************************/

.banner { width: 100%; position: relative; overflow: hidden;
    &:before { content: ''; display: block; width: 100%; height: 100vh; background-image: url(../img/placeimage.png); background-size: cover; background-repeat: no-repeat; }
    &_overlay { width: 100%; position: absolute; top: 0; z-index: $over-static;
        &--on-top { z-index: $over-visible; }
        &--over-top { z-index: $over-basic; }
        &--moved { top: 239px; left: -242px; }
        &--holding { display: flex; justify-content: center;
            &-button { top: 650px; left: -232px; }
            &-model { top: 54px; left: 220px; }
        }
    }
}