/*****************************/
/*          banner           */
/*****************************/

.banner { width: 100%; position: relative; overflow: hidden;
    &:before { content: ''; display: block; width: 100%; height: 100vh; background-image: url(../img/placeimage.png); background-size: cover; background-repeat: no-repeat; }
    &_content { height: calc(100vh - 63px); overflow: hidden; }
    &_overlay { width: 100%; position: absolute; top: 0; z-index: $over-static; }
}