/*****************************/
/*          icons            */
/*****************************/

.icons { margin: -2px 17px 0 42.5px; font-size: 21px;  
    &_item { margin: 0px 11px 0 13px; padding: 0; color: $color-white; }
}