/*****************************/
/*       light&black         */
/*****************************/

.black { background-color: black; height: 150px; border: 1px solid green; }
.light { background-color: cornflowerblue; height: 150px; border: 1px solid green; }
.text { font-family: "Lato",  sans-serif; font-weight: 700; text-align: center; font-size: 35px; }