/*****************************/
/*          slogan           */
/*****************************/

.slogan { display: flex; flex-direction: column; align-items: center; width: 100%; height: 100vh; box-sizing: border-box; position: absolute; z-index: $over-visible; left: -15vw; top: 239px; background: url(../img/placeimage-clipped.png); background-size: cover; -webkit-background-clip: text; background-position: 15vw -240px; background-color: $color-white; font-size: 159px; color: transparent; 
    &_item { display: block; font-family: LemonMilk; line-height: 135px; text-align: center; letter-spacing: 4px; font-weight: 700;
        &--small { font-size: 96px; line-height: 80px; }
    }
    &--as-shadow { background: transparent; text-shadow: 0 0 24px $color-black; z-index: $over-static;  }
}