/*****************************/
/*          whatwedo         */
/*****************************/

.whatwedo { position: relative; height: 744px; background-color: $color-of-background; overflow: hidden; 
    &_header { margin-top: 78px; text-align: center; }
}