/*****************************/
/*         Variables         */
/*****************************/
/*****************************/
/*          mxins            */
/*****************************/
/*****************************/
/*          grid             */
/*****************************/
.row {
  padding: -15px; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.col-1 {
  width: 8.33333%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-2 {
  width: 16.66667%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-3 {
  width: 25%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-4 {
  width: 33.33333%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-5 {
  width: 41.66667%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-6 {
  width: 50%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-7 {
  width: 58.33333%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-8 {
  width: 66.66667%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-9 {
  width: 75%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-10 {
  width: 83.33333%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-11 {
  width: 91.66667%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }

.col-12 {
  width: 100%;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px; }

@media only screen and (max-width: 1200px) {
  .col-desktop-1 {
    width: 8.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-2 {
    width: 16.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-3 {
    width: 25%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-4 {
    width: 33.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-5 {
    width: 41.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-6 {
    width: 50%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-7 {
    width: 58.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-8 {
    width: 66.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-9 {
    width: 75%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-10 {
    width: 83.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-11 {
    width: 91.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-desktop-12 {
    width: 100%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 992px) {
  .col-notebook-1 {
    width: 8.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-2 {
    width: 16.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-3 {
    width: 25%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-4 {
    width: 33.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-5 {
    width: 41.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-6 {
    width: 50%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-7 {
    width: 58.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-8 {
    width: 66.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-9 {
    width: 75%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-10 {
    width: 83.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-11 {
    width: 91.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-notebook-12 {
    width: 100%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 768px) {
  .col-tablet-1 {
    width: 8.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-2 {
    width: 16.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-3 {
    width: 25%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-4 {
    width: 33.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-5 {
    width: 41.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-6 {
    width: 50%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-7 {
    width: 58.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-8 {
    width: 66.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-9 {
    width: 75%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-10 {
    width: 83.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-11 {
    width: 91.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-tablet-12 {
    width: 100%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 360px) {
  .col-phone-1 {
    width: 8.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-2 {
    width: 16.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-3 {
    width: 25%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-4 {
    width: 33.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-5 {
    width: 41.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-6 {
    width: 50%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-7 {
    width: 58.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-8 {
    width: 66.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-9 {
    width: 75%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-10 {
    width: 83.33333%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-11 {
    width: 91.66667%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
  .col-phone-12 {
    width: 100%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px; } }

/*****************************/
/*          default          */
/*****************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0px 50px; }
  @media only screen and (max-width: 1270px) {
    .wrapper {
      width: 100%; } }

/*****************************/
/*          fonts            */
/*****************************/
@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Bold.ttf");
  font-weight: 700; }

/*****************************/
/*       light&black         */
/*****************************/
.black {
  background-color: black;
  height: 150px;
  border: 1px solid green; }

.light {
  background-color: cornflowerblue;
  height: 150px;
  border: 1px solid green; }

.text {
  font-family: "Lato",  sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 35px; }
